@model LibraryBook.Models.Author

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить автора</h1>
<hr />
<link rel="stylesheet" href="~/css/Style_Create" asp-append-version="true" />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <link rel="stylesheet" href="~/css/Edit.css" asp-append-version="true" />
                <input type="submit" value="Добавить" class="knopka1" />
            </div>
        </form>
    </div>
</div>

<div class="rastoyanie">
    <link rel="stylesheet" href="~/css/dobAuthor.css" asp-append-version="true" />
    <a asp-action="Index"  class="knopka11" >Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
