@model LibraryBook.Models.Genre

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
     <form asp-action="Delete">
        <link rel="stylesheet" href="~/css/Delete.css"/>
        <input type="hidden" asp-for="Id" />
        <input  type="submit" value="Удалить" class="knopka3" /> 
        <a class="knopka3" asp-action="Index">Назад</a>
    </form>
</div>
