@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/BookStyle.css"/>
     <div class="containers">
         <div class="row">
             <div class="col-md-6">
                 <img class="book__img" src="~/FotoBook/Книга 1.jpg" alt="альтернативный текст">
             </div>
             <div class="col-md-6" offset-1">
                 <img class="book__img" src="~/FotoBook/Книга 2.jpg" alt="альтернативный текст">
             </div>
             <div class="col-md-6" offset-2">
                 <img class="book__img" src="~/FotoBook/Книга 3.jpg" alt="альтернативный текст">
             </div>
             <div class="col-md-6" offset-3">
                 <img class="book__img" src="~/FotoBook/Книга 4.jpg" alt="альтернативный текст">
             </div>
             <div class="col-md-6" offset-4">
                 <img class="book__img" src="~/FotoBook/Книга 5.jpg" alt="альтернативный текст">
             </div>
         </div>

     </div>
    






